<ul class="clearfix">
  <li class="firstchild">
    <%= link_to "首页", root_url %></li>
    <li><%= link_to "什么是VPN", why_vpn_static_pages_path %></li>
    <li><%= link_to "配置手册", setup_howto_static_pages_path %></li>
    <li><%= link_to "FAQ", faq_static_pages_path %></li>
    <li><a href="order.html">购买套餐</a></li>
    <li><%= link_to "联系我们", contactus_static_pages_path %></li>
    <li><a href="my_account.html"><span id="result_box" lang="zh-CN" xml:lang="zh-CN">我的帐户</span></a></li>
</ul>