<div class="logo">
  <%= link_to root_url do %>
    <%= image_tag "#{I18n.locale}/logo.gif", :width => 346, :height => 40 %>
  <% end %>
</div>
<div class="navi">
  <ul class="clearfix">
    <li class="firstchild">
      <%= link_to t("navigation.index"), root_url %></li>
      <li><%= link_to t("navigation.vpn"), why_vpn_static_pages_url %></li>
      <li><%= link_to t("navigation.set_up"), howto_static_pages_path %></li>
      <li><%= link_to "FAQ", faq_static_pages_path %></li>
      <li><a href="order.html"><%= t("navigation.order")%></a></li>
      <li><%= link_to t("navigation.contact"), contactus_static_pages_path %></li>
      <% if current_user.is_common? %>
        <li>
          <%= link_to user_path(current_user) do %>
            <span id="result_box">
              <%= t('navigation.account') %>
            </span>
          <% end %>
        </li>
      <% end %>
  </ul>
</div>

