<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Leap4.net 飞跃重洋</title>
  <%= stylesheet_link_tag    "#{I18n.locale}/login", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper_login">
  <div id="login_mainholder">
    <div class="login_top">
      <div class="logo">
        <%= image_tag "#{I18n.locale}/logo.gif", :width => 346, :height => 40, :alt => 'leap4.net' %>
      </div>
      <div class="version2">
        <%= render :partial => "change_language", :locals => {:span_class => 'current2'} %>
      </div>
    </div>
    <%= render_stickies(:close => "") %>
    <div class="mainbox clearfix">
      <div class="box_welcome">
        <div class="content">
          <%= form_tag "/sessions/guest_login", :method => :post do %>
            <p class="mb15" style="font-size:16px;">
              <span id="result_box" lang="zh-CN" xml:lang="zh-CN"><%= t('login.enter_invitation_code') %>：</span>
            </p>
            <%= raw locale_param %>
            <p class="mb15"><input name="invitation_code" type="text" style="width:250px;" /></p>
            <p class="mb15">
              <a href="#" id="invitation_submit">
                <%= image_tag "#{I18n.locale}/btn_enter.gif", :width => 123, :height => 43, :alt => 'Enter' %>
              </a>
            </p>
          <% end %>
          <p><%= t "login.no_invitation_code" %></p>
          <p><%= t "login.send_email" %> &lt;<a href="mailto:leap4net@sidways.com"><%= t "login.click_here" %></a>&gt; </p>
        </div>
      </div>
      <div class="box_login">
        <%= form_tag sessions_path do %>
          <%= raw locale_param %>
          <table width="360" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th width="33%"><%= t "login.user_name" %></th>
              <td width="67%"><input name="user[email]" type="text" style="width:200px;" /></td>
            </tr>
            <tr>
              <th><%= t "login.password" %></th>
              <td><input name="user[password]" type="password" style="width:200px;" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
              <p class="mb10">
                <%= link_to t("login.forget_password"), forgot_password_users_path %></p>
                <p class="mb15">
                  <a href="#" id="login_submit">
                    <%= image_tag "#{I18n.locale}/btn_enter.gif", :width => 123, :height => 43, :alt => 'Enter' %>
                  </a>
                <p>
                <p><%= t "login.info" %></p>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
</body>
</html>

<script>
  $("#invitation_submit, #login_submit").click(function(){
    $(this).parents('form').submit();
    return false;
  });
</script>