<div id="mainholder">
  <div id="header">
    <div class="main">
      <%= render "static_pages/navigation" %>
    </div>
  </div>
  <div class="main_content" style="min-height:;">
    <div class="myorder_table">
      <div class="title">
        <%= image_tag "#{I18n.locale}/changepw_title.jpg",
                         :width => 960, 
                         :height => 71,
                         :alt => "Change Password" %>
      </div>
      <div class="mid">
        <%= form_tag "/users/reset_password" do %>
          <div class="chps">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <th>当前密码</th>
                <td>
                  <label>
                    <input type="password" name="old_password" id="textfield" width="150" />
                  </label>
                </td>
              </tr>
              <tr>
                <th>新密码</th>
                <td>
                  <label>
                    <input type="password" name="password" id="textfield2" width="150" />
                  </label>
                </td>
              </tr>
              <tr>
                <th>确认新密码</th>
                <td>
                  <label>
                    <input type="password" name="password_confirmation" id="textfield3" width="150" />
                  </label>
                </td>
              </tr>
            </table>
          </div>
          <div class="order_action">
            <a href="#" id="reset_password_submit">
              <%= image_tag "#{I18n.locale}/btn_save.gif",
                 :width => 144, 
                 :height => 44,
                 :alt => "Renew",
                 :class => 'firstchild' %>
            </a>
            <%= link_to user_path(@user) do %>
              <%= image_tag "#{I18n.locale}/btn_cancel.gif",
                 :width => 144, 
                 :height => 44,
                 :alt => "Payment" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="bot">
        <%= image_tag "#{I18n.locale}/myorder_b.jpg",
                 :width => 960, 
                 :height => 36 %>
      </div>
    </div>
  </div>
</div>
<script>
  $("#reset_password_submit").click(function(){
    $(this).parents('form').submit();
    return false;
  });
</script>