<div id="mainholder">
  <div id="header">
    <div class="main">
      <%= render "static_pages/navigation" %>
    </div>
  </div>
  <%=  form_for @order do |f| %>
      <div class="order_table">
        <div class="order_left">
          <div class="main">
            <%=raw t("order.info") %>
          </div>
        </div>
        <div class="order_right">
          <div class="main">
            <div class="m1"><label><%= f.radio_button :leap_type, "day" %></label></div>
            <div class="m6">
              <label><%= f.radio_button :leap_type, "month" %></label></div>
            <div class="m12"><label><%= f.radio_button :leap_type, "year", :checked => true %></label></div>
            <div class="clear"></div>
            <div class="order_info">
              <div class="email">
                <p><%=raw t("order.email_address") %></p>
                <p><%= f.text_field :email, :style => "width:300px;" %></p>
                <% if current_user.is_guest? %>
                <p>
                  Enter your sale-off code:
                  <!--<input id="sale" name="sale" type="text" style="width: 128px;" onblur="discountService()"/>-->
                  <%= f.text_field :saleoff_code, :style => "width: 128px" %>
                </p>
                <% end %>
              </div>
              <div class="payment">
                <p><%= t("order.choose_payment") %></p>
                <p>
                  <label>
                    <% if params[:locale] == 'en' %>
                        <%= f.radio_button :billing_method, "paypal", :checked =>  true %>
                    <% else %>
                        <%= f.radio_button :billing_method, "paypal" %>
                    <% end %>
                    <%= image_tag("#{I18n.locale}/paypal.gif", :width => 51, :height => 32, :alt => 'Paypal') %>
                  </label>
                  <label>
                    <% if params[:locale] == 'zh' %>
                        <%= f.radio_button :billing_method, "alipay", :checked => true %>
                    <% else %>
                        <%= f.radio_button :billing_method, "alipay" %>
                    <% end %>
                    <%= image_tag("#{I18n.locale}/zhifubao.gif", :width => 51, :height => 32) %>
                  </label>
                </p>
              </div>
              <div class="clear"></div>
              <div class="order_btn">
                <%= link_to "javascript:void(0)", :id => :submit do %>
                    <%= image_tag "#{I18n.locale}/btn_order.gif",
                                  :width => 163, :height => 58, :alt => t('order.alt_order') %>
                <% end %>
              </div>
              <div class="order_btn_info">
                <%=raw t("order.payment_info") %>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#submit").click(function(){
            $("#new_order").submit();
        });
    });
</script>