<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Leap4Net</title>
    <%= stylesheet_link_tag    "#{I18n.locale}/application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%='home' if @root_path %>">
<div id="wrapper">
  <div id="top">
    <div class="main">
        <div class="user">
          <span class="logout">
            <%= link_to session_path(current_user), :method => :delete do %>
              <%= image_tag "#{I18n.locale}/btn_top_login.jpg", :width => 80, :height => 25, :alt => 'logout' %>
           <% end %>
          </span>
          <span class="username">Hi, <%= current_user.nick_name %></span>
        </div>
      <!--<div class="ip">YOUR IP:  <span class="red">199.68.199.136</span></div>-->
      <div class="version">
        <%= render :partial => "sessions/change_language", :locals => {:span_class => 'current'} %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <%= render_stickies(:close => "") %>
  <%= yield %>
  <div id="footer">
    <div class="main">
      <p class="mb10">
        <%= link_to t("navigation.index"), root_url %> | <%= link_to t("navigation.vpn"), why_vpn_static_pages_url %> | <%= link_to t("navigation.faq"), faq_static_pages_path %> | <%= link_to t("navigation.set_up"), howto_static_pages_path %> | <%= link_to t("navigation.order"), new_order_path %> | <%= link_to t("navigation.contact"), contactus_static_pages_path %>
      </p>
      <p>Copyright © 2009 - <%= Time.now.strftime('%Y')%> Sidways InfoTech. All rights reserved.</p>
    </div>
  </div>
</div>
</body>
</html>